@font-face {
    src: url('fonts/Minecrafter.Reg.ttf') format('truetype');
    font-family: 'Gamer';
}

.header {
    font-family: Gamer;
    font-size: 3em;
    justify-content: top;
    text-align: center;
}

.recipes {
    justify-content: center;
}

.recipeslist {
    font-family: Gamer;
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right,red,orange,yellow,lightgreen,cyan,blue,purple);
    background-blend-mode: screen;
    background-position: center;
    background-size: 500% 500%;
    background-image: url;
    animation: rainbow-gradient 20s linear infinite;
}


h1, ul, h3 {
    text-align: center;
}

h1, h3 {
    color: rgb(49, 49, 49);
    -webkit-text-size-adjust: 50%;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 10px 10px 10px rgb(30, 30, 30);;
}

h3 {
    font-size: 2rem;
}

ul {
    list-style: none;
    padding: 0;
}


@keyframes rainbow-gradient {
  0% {background-position: 0% 0%;}
  100% {background-scale: 100% 0%;}
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: block;
    filter: blur(5px);
    scale: 120%;
    background-color: rgba(0, 0, 0, 0);
}